includes:
    - config/services.neon
    - config/rules.neon

parameters:
    level: 8

    paths:
        - src
        - config
        - tests

    excludePaths:
        # tests
        - "*/Source/*"
        - "*/Fixture/*"

    ignoreErrors:
        - '#Method (.*?)::getCollectors\(\) return type with generic interface PHPStan\\Collectors\\Collector does not specify its types\: TNodeType, TValue#'

        # overly detailed generics
        - '#Class Rector\\TypePerfect\\Tests\\Rules\\(.*?) extends generic class PHPStan\\Testing\\RuleTestCase but does not specify its types\: TRule#'
        - '#Method Rector\\TypePerfect\\Tests\\Rules\\(.*?)\:\:getRule\(\) return type with generic interface PHPStan\\Rules\\Rule does not specify its types\: TNodeType#'
