# this config is only for tests, it verifies all the rules are runnable
includes:
    - vendor/rector/type-perfect/config/extension.neon

parameters:
    level: 4

    ignoreErrors:
        - '#Class method "getName\(\)" is never used#'
