includes:
    - config/extension.neon

parameters:
    level: 8

    paths:
        - src
        - config
        - tests

    excludePaths:
        # tests
        - "*/Source/*"
        - "*/Fixture/*"

    ignoreErrors:
        - '#Method (.*?)::getCollectors\(\) return type with generic interface PHPStan\\Collectors\\Collector does not specify its types\: TNodeType, TValue#'

        # overly detailed generics
        - '#Rector\\TypePerfect\\Tests\\Rules\\(.*?) generic (class|interface)#'
        - '#Method Rector\\TypePerfect\\Tests\\Rules\\(.*?)testRule\(\) has parameter \$expectedErrorsWithLines with no value type specified in iterable type array#'
