includes:
    - config/extension.neon

parameters:
    level: 8

    paths:
        - src
        - config
        - tests

    excludePaths:
        # tests
        - "*/Source/*"
        - "*/Fixture/*"

    ignoreErrors:
        - '#Method (.*?)::getCollectors\(\) return type with generic interface PHPStan\\Collectors\\Collector does not specify its types\: TNodeType, TValue#'

        # overly detailed generics
        - '#Rector\\TypePerfect\\Tests\\Rules\\(.*?) generic (class|interface)#'

        -
            identifier: phpstanApi.instanceofType
            paths:
                - src/Printer/CollectorMetadataPrinter.php
                - src/Rules/NarrowPrivateClassMethodParamTypeRule.php
                - src/Rules/NoArrayAccessOnObjectRule.php
                - src/Rules/ReturnNullOverFalseRule.php

        -
            identifier: phpstanApi.instanceofAssumption
            paths:
                - src/Rules/NoParamTypeRemovalRule.php
