parametersSchema:
    # see https://doc.nette.org/en/schema for configuration
    type_perfect: structure([
        narrow: bool()
        no_mixed: bool()
        no_falsy_return: bool()
    ])

# default parameters
parameters:
    type_perfect:
        narrow: false
        no_mixed: false
        no_falsy_return: false

services:
    -
        factory: Rector\TypePerfect\Configuration
        arguments:
            - %type_perfect%

    - Rector\TypePerfect\NodeTraverser\SimpleCallableNodeTraverser
    - Rector\TypePerfect\NodeFinder\ClassMethodNodeFinder
    - Rector\TypePerfect\NodeFinder\MethodCallNodeFinder
    - Rector\TypePerfect\NodeFinder\ReturnNodeFinder
    - Rector\TypePerfect\PhpDoc\ApiDocStmtAnalyzer
    - Rector\TypePerfect\Printer\NodeComparator
    - Rector\TypePerfect\Reflection\ReflectionParser
    - Rector\TypePerfect\Reflection\MethodNodeAnalyser
    - Rector\TypePerfect\Matcher\Collector\PublicClassMethodMatcher
    - Rector\TypePerfect\Matcher\ClassMethodCallReferenceResolver
    - Rector\TypePerfect\Printer\CollectorMetadataPrinter
