# these rule focus on the whole-project analysis, see https://phpstan.org/developing-extensions/collectors
rules:
    # narrow types - toggleables
    - Rector\TypePerfect\Rules\NoReturnFalseInNonBoolClassMethodRule
    - Rector\TypePerfect\Rules\NarrowPublicClassMethodParamTypeRule
    - Rector\TypePerfect\Rules\NarrowPrivateClassMethodParamTypeRule

    # no mixed - toggleables
    - Rector\TypePerfect\Rules\NoMixedPropertyFetcherRule
    - Rector\TypePerfect\Rules\NoMixedMethodCallerRule

    # simple - always enable these
    - Rector\TypePerfect\Rules\ForbiddenParamTypeRemovalRule
    - Rector\TypePerfect\Rules\NoArrayAccessOnObjectRule
    - Rector\TypePerfect\Rules\NoIssetOnObjectRule

services:
    # for NarrowPublicClassMethodParamTypeByCallerTypeRule
    -
        class: Rector\TypePerfect\Collector\ClassMethod\PublicClassMethodParamTypesCollector
        tags: [phpstan.collector]

    -
        class: Rector\TypePerfect\Collector\MethodCall\MethodCallArgTypesCollector
        tags: [phpstan.collector]

    -
        class: Rector\TypePerfect\Collector\MethodCallableNode\MethodCallableCollector
        tags:
            - phpstan.collector
